.center-title {
  margin-top: 150px;
  text-align: center;
  line-height: 10px;
}

.center-title h1 {
  font-size: 56px;
  font-weight: 400;
  color: #303030;
}

.center-title-txt {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 20px;
  color: #303030;
  margin-bottom: 80px;
  margin-top: 50px;
}

.center-title-btn {
  border: 1px solid #303030;
  border-top-color: #968f8f;
  padding: 20px 25px;
  background-color: white;
  font-size: 10px;
  margin-bottom: 50px;
}

.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* max-width: calc(1200px/4); */
}

.main-block-side-vertical {
  max-width: 300px;
  height: 600px;
  position: relative;
}

.main-block-side-vertical > img {
  max-width: 300px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-block-side-vertical div {
  position: absolute;
  top: 265px;
  left: 105px;
  color: white;
  text-align: center;
}

.main-block-side-vertical > div > h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
}

.main-block-side-vertical > div > p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 15px;
  margin-top: 10px;
}

.main-block-side-cube-pic {
  width: 300px;
  height: 300px;
}

.main-block-side-cube-pic > img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-block-center-cube-text {
  width: 300px;
  height: 300px;
  background-color: #bbbbbb;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 70px 60px 0;
}

.main-block-center-cube-text > img {
  width: 30px;
  height: 30px;
  margin-bottom: 15px;
}

.main-block-center-cube-text > p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 13px;
  color: white;
  line-height: 1.5em;
  /* margin-top: 10px; */
}

.main-block-center-cube-pic-ttl {
  width: 300px;
  height: 300px;
  position: relative;
}

.main-block-center-cube-pic-ttl > img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-block-center-cube-pic-ttl div {
  position: absolute;
  bottom: 125px;
  left: 100px;
  color: white;
  text-align: center;
}

.main-block-center-cube-pic-ttl > div > h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
}

.main-block-center-cube-pic-ttl > div > p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 15px;
  margin-top: 10px;
}

.main-block-center-cube-arr-txt,
.main-block-side-cube-arr-txt {
  width: 300px;
  height: 300px;
  background-color: #606060;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 110px 60px 0;
  color: white;
}

.main-block-center-cube-arr-txt > h3 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  line-height: 1.5em;
}

.main-block-center-cube-pic > img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cheap {
  margin-top: -3.5px;
}

.sec > div {
  bottom: 120px;
  left: 100px;
}

.main-block-side-cube-arr-txt > h3 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  line-height: 1.5em;
}

.main-block-side-cube-arr-txt > p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 15px;
  margin-top: 10px;
}

.kids > div {
  bottom: 120px;
  left: 90px;
}

.form {
  margin: 150px 0;
  text-align: center;
  line-height: 35px;
}

.form > h2 {
  font-weight: 500;
}

.form > p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 14px;
  margin-bottom: 30px;
}

.form-e-mail {
  border: 1px solid #303030;
  border-bottom-color: #968f8f;
  padding: 16px 25px;
  width: 300px;
}

.form-submit {
  border: 1px solid #fd591d;
  background-color: #fd591d;
  padding: 16px 25px;
  margin-left: -5px;
}
/*# sourceMappingURL=main.css.map */