.cart-center{
    text-align: center;
}

.cart-center>h2{
    text-align: center;
}

.cart-center>p{
    color: rgb(80, 80, 80);
    text-align: center;
}

.cart-product{
    height: 100px;
}

.cart-form{
    margin: 0 auto;
    width: 100%;
}

.cart-form-variant{
    margin: 0 auto;
    text-align: center;
}

.forma input{
    border: 3px solid rgb(80, 80, 80);
}

.cart-form-name{
    margin: 30px auto;
    width: 500px;
}

.cart-form-adres{
    margin: 30px auto;
    width: 500px;
}

.cart-form-city{
    width: 500px;
}

.cart-form-telefone{
    width: 500px;
}

.forma{
    margin: 30px auto;
}
